@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/flowbite-datepicker";


html {
  scroll-behavior: smooth;
}



.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 1;
  }
  
